
.item {
        padding: 3px;
        margin-left: 10px;
        height: 1em;
}

.clickable {
    cursor: pointer;

    &:hover {
        background-color: lightblue;
    }
}


.files-table {
    width: 80%;

    tr {
        padding: 3px;
        margin-left: 10px;
        height: 1em;

        &:hover {
            background-color: lightblue;
        }

        td, th {
            padding: 10px;
            text-align: left;

            &.size {
                text-align: right;
            }
        }
        td.td-link {
            padding: 0px;
        
            .link {
                padding: 10px;
                height: 100%;
                width: 100%;
                display: inline-block;
            }
        }        
    }

    tfoot {
        background-color: darkseagreen;
    }
}
